body{
  background-color: #EBDBC3;
}

.welcomeText{
    font-size: 19px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 65px auto 0;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 100%;
}

canvas {
    max-width: 400px;
    max-height: 300px;
    width: 100% !important;
    height: auto !important;
}

.dropdown {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.dropdown select {
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    outline: none;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.dropdown select:hover {
    background-color: #DDB3A1;
    color: white;
}
